<h2 class="title">投稿ページ</h2>

<div class="add-tag">
  <%= form_tag({controller:"posts", action:"new"}, data: {remote: true}, method: :get) do %>
    <%= label :about, "タグ追加", class: "form-label-name" %>
    <div class="tag-field">
      <%= text_field_tag :tag, "", class: "tag-input", id: "tag-input", placeholder: "追加したいタグの名前" %>
    </div>
    <div>
      <%= submit_tag '追加する', class: "tag-btn" %>
      <div class="comment-new">※タグがない場合は追加してください！</div>
    </div>
  <% end %>
</div>

<div id="post">
  <%= render 'posts/create', posts: @posts %>
</div>