<!DOCTYPE html>
<html>
  <head>
    <title>Geek Life</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.14.0/css/all.css">
    <%= favicon_link_tag('favicon.ico') %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <h1>
        <%= link_to posts_path do %>
          <%= image_tag "icon.png", size: "50x50" %>eek Life
        <% end %>
      </h1>
      <div class="header-list">
        <ul>
          <% if user_signed_in? && current_page?(new_post_path) %>
            <li><%= link_to "一覧", posts_path %></li>
            <li><i class="fas fa-ghost"></i> <%= link_to "投稿", new_post_path, class: "now" %></li>
            <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% elsif user_signed_in? && current_page?(root_path) || user_signed_in? && current_page?(posts_path) %>
            <li><i class="fas fa-ghost"></i> <%= link_to "一覧", posts_path, class: "now" %></li>
            <li><%= link_to "投稿", new_post_path %></li>
            <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% elsif user_signed_in? && current_page?(user_path(current_user.id)) %>
            <li><%= link_to "一覧", posts_path %></li>
            <li><%= link_to "投稿", new_post_path %></li>
            <li><i class="fas fa-ghost"></i> <%= link_to "マイページ", user_path(current_user.id), class: "now" %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% elsif user_signed_in? %>
            <li><%= link_to "一覧", posts_path %></li>
            <li><%= link_to "投稿", new_post_path %></li>
            <li><%= link_to "マイページ", user_path(current_user.id) %></li>
            <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
          <% else %>
            <li><%= link_to "ログイン", new_post_path %></li>
            <li><%= link_to "新規登録", new_user_registration_path %></li>
          <% end %>
        </ul>
      </div>
    </header>
    <main>
      <%= yield %>
    </main>
    <footer>
      <p>Copyright © GeekSalon All Rights Reserved.</p>
    </footer>
  </body>
</html>
